@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Bungee+Outline");
@import url("https://fonts.googleapis.com/css?family=Bungee+Inline");
@import url("https://fonts.googleapis.com/css?family=Bungee+Shade");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
	--text-shadow: 0px 1px 3px #bbb, 0px 2px 2px #aaa, 0px 3px 1px #999, 0px 4px 0px #888, 0px 5px 0px #777, 0px 6px 0px #666, 0px 7px 0px #555, 0px 9px 5px #444, 0px 10px 20px #555;
	--text-shadow-s: 0px 1px 3px #bbb, 0px 2px 2px #aaa, 0px 3px 1px #999, 0px 4px 0px #888, 0px 5px 0px #777, 0px 6px 0px #333;
	--text-shadow-xs: 0px 1px 3px #bbb, 0px 2px 2px #333;
	--text-shadow-xxs: 0px 0px 3px #222, 0px 1px 6px #000;
	--bg-url: url("./images/w1.png");
	--linear-gradient-circle-blue: radial-gradient(circle, hsla(190, 100%, 75%, 1), hsl(190, 95%, 65%), hsla(195, 100%, 50%, 1));
	--linear-gradient-circle-pink: radial-gradient(circle, hsla(300, 100%, 80%, 1), hsla(320, 100%, 50%, 1), hsla(315, 100%, 50%, 1));
	--linear-gradient-circle-white: radial-gradient(circle, hsl(0, 0%, 91%), hsl(0, 0%, 100%), hsl(50, 38%, 94%));
	--filter-1: hue-rotate(120deg) grayscale(50%) opacity(75%) saturate(1) sepia(10%);
	--filter-2: hue-rotate(0deg) grayscale(75%) opacity(75%) saturate(1) sepia(10%);
	--primary-font-size: 18px;
	--primary-font-family: "Bungee Inline", cursive;
	--secondary-font-family: "Bungee Outline", cursive;
	--tertiary-font-family: "Bungee Shade", cursive;
	--quartiary-font-family: "Open Sans", sans-serif;
	--primary-color: hsl(0, 0%, 2%);
	--drop-shadow: drop-shadow(0 0 2em hsla(180, 75%, 50%, 1))
}

@keyframes intro {
	0% {
		text-shadow: 0px 1px 2px #111;
		letter-spacing: 1em;
	}
	100% {
		text-shadow: var(--text-shadow);
		letter-spacing: 0;
	}
}
audio {
	box-shadow: -2px 2px 6px solid black;
}

html {
	/* TOD: toggle */
	background: var(--linear-gradient-circle-blue);
	background: var(--linear-gradient-circle-pink);
}

html, body {
	position: relative;
	overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

body {
	margin: 0;
	box-sizing: border-box;
	font-size: var(--primary-font-size);
	font-family: var(--primary-font-family);
	color: var(--primary-color);
	background-image: var(--bg-url);
	background-repeat: repeat;
	filter: var(--filter-1);
}

main {
	display: grid;
	align-content: center;
}

h1, h2, h3, h4, h5 {
	text-align: center;
	white-space: nowrap;
	max-width: 100vw;
}
h1, h2 {
	line-height: 0.5em;
	animation-name: intro;
	animation-delay: 4s;
	animation-duration: 2.5s;
	animation-fill-mode: forwards;
	mix-blend-mode: difference;
}
h1 {
	font-family: var(--tertiary-font-family);
	filter: var(--drop-shadow);
	font-size: 9vw;
}
h2 {
	font-size: 6vw;
	font-family: var(--secondary-font-family);
}
h5 {
	font-size: 2.5vw;
    color: hsl(0, 0%, 100%);
    mix-blend-mode: darken;
    text-shadow: 0px 1px 1px black;
    box-shadow: 0px 2px 20px 2px black;
    line-height: 1.5em;
    margin-top: 0;
    letter-spacing: 0.5em;
    filter: drop-shadow(0px 0px 1px black);
}

#loader {
	min-height: 100vh;
}

nav {
	position: absolute;
	cursor: pointer;
	top: 10vh;
	left: 37vw;
}

@media (min-width: 1200px) {
	nav {
		left: 45vw;
	}
}

a {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

.center {
	text-align: center;
	max-width: 100vw;
}